.subsection {
    font-size: large;
    color: black;
    font-weight: bold;
}

.premier {
    background-color: aqua;
}

.header {
    background-color: blue;
}

.bullet {
    font-size: medium;
    color: black;
    font-weight: 500;
    border: 1px solid black;
}

.single {
    font-size: medium;
    color: black;
    background-color: cornflowerblue;
    font-weight: 500;
}

img {
    height: auto;
    width: 400px;
}