.body {
    background: white;
    margin: 0 auto;
}

.subsection {
    font-size: large;
    color: black;
    font-weight: bold;
}

.premier {
    background-color: aqua;
}

.header {
    background-color: blue;
    text-align: center;
    padding: 32px;
}

.bullet {
    font-size: medium;
    color: black;
    font-weight: 500;
    padding: 8px;
    border: 1px solid red;
    
}

.single {
    font-size: medium;
    color: black;
    background-color: cornflowerblue;
    font-weight: 500;
    padding: 0 auto;
}

img {
    height: auto;
    width: 400px;
}